* {
	margin: 0;
	padding: 0;
	font-family: Helvetica, sans-serif;
	box-sizing: border-box;
}

body {
	background-color: hsl(180, 50%, 90%);
}

#wrapper {
	padding: 20px;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

pre {
	padding: 20px;
	font-family: monospace;
	font-size: 1.2em;
	border: 1px solid slategray;
	height: calc(100vh - 200px);
	overflow-y: scroll;
	background-color: white;
}

button {
	margin: 0px 10px 0px 0px;
	padding: 2px 6px;
}
