/*
	Common
*/

:root {
	--accent-blue-light: hsl(180, 100%, 75%);
	--accent-blue-dark: hsl(190, 100%, 25%);
	--accent-green-light: hsl(160, 100%, 50%);
	--accent-green-dark: hsl(150, 100%, 20%);
}

* {
	margin: 0;
	padding: 0;
	font-family: Helvetica, sans-serif;
	box-sizing: border-box;
}

body {
	background-color: hsl(180, 50%, 90%);
}

pre {
	padding: 20px;
	font-family: monospace;
	font-size: 1.2em;
	border: 1px solid slategray;
	background-color: white;
}

button {
	margin: 0px 10px 0px 0px;
	padding: 2px 6px;
	border-radius: 4px;
	border: 1px solid gray;
}

/*
	Page Layout
*/
#wrapper {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: grid;
	grid-template-rows: 80px 1fr;
}

header {
	display: grid;
	grid-template-columns: min-content 1fr 1fr;
	background-color: var(--accent-green-dark);
	color: white;
	padding: 20px;
}

#app-actions {
	text-align: right;
	vertical-align: middle;
}

#app-actions button {
	margin-top: 10px;
}

.scroll-content {
	overflow-y: scroll;
	height: calc(100vh - 80px);
	padding: 20px;
}

/*
	XML Wrappers
*/

.xml-table-wrapper {
	border-top: 4px solid var(--accent-blue-dark);
	padding: 5px 4px 10px 0px;
	margin: 20px 10px 40px 0px;
	max-width: 90vw;
}

.xml-table-wrapper h2 {
	margin: 5px 0px 10px 0px;
	color: var(--accent-blue-dark);
}

.xml-node-wrapper {
	border-left: 1px solid var(--accent-blue-dark);
	padding: 0px 10px 0px 20px;
	margin: 20px 0px 10px 2px;
}

.xml-node-wrapper h3 {
	margin: 0px 0px 8px 0px;
}

.xml-attribute-wrapper {
	border: 1px solid gray;
	background-color: lightblue;
	display: inline-block;
	border-radius: 2px;
	margin: 0px 4px 4px 0px;
	padding: 4px 8px;
}

.xml-value-wrapper {
	font-size: 1.4em;
	font-weight: bold;
	border: 1px solid lightblue;
	border-radius: 2px;
	width: min-content;
	margin: 8px 4px 0px 0px;
	padding: 20px;
}

.xml-comment-wrapper {
	font-family: monospace;
	color: var(--accent-green-dark);
	font-size: 1.2em;
}
