/*
	Common
*/

:root {
	--accent-hue: 170;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

body {
	background-color: hsl(var(--accent-hue), 30%, 95%);
}

pre,
textarea {
	display: block;
	padding: 20px;
	font-family: monospace;
	font-size: 1.2em;
	height: max-content;
	width: 400px;
	border-radius: 4px;
	border: 1px solid hsl(var(--accent-hue), 30%, 50%);
	background-color: hsl(var(--accent-hue), 30%, 98%);
}

button {
	margin: 0px 10px 0px 0px;
	padding: 2px 6px;
	border-radius: 4px;
	border: 1px solid gray;
	cursor: pointer;
}

button[disabled] {
	cursor: default;
	opacity: 0.2;
}

code {
	font-family: monospace;
	font-size: 1.2em;
	font-weight: bold;
	padding: 4px 8px;
	margin: 4px;
	background-color: hsl(var(--accent-hue), 50%, 90%);
	border: 1px solid hsl(var(--accent-hue), 50%, 80%);
	border-radius: 4px;
	display: inline-block;
}

a {
	color: hsl(var(--accent-hue), 100%, 30%);
	text-decoration: underline;
	padding: 0px 2px;
}

a:hover {
	cursor: pointer;
}

/*
	Page Layout
*/
#wrapper {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: grid;
	grid-template-rows: 60px 1fr;
	font-family: Helvetica, sans-serif;
}

header {
	display: grid;
	grid-template-columns: min-content 1fr 1fr;
	background-color: hsl(var(--accent-hue), 20%, 20%);
	color: hsla(var(--accent-hue), 100%, 80%);
	padding: 10px 10px 10px 20px;
	z-index: 1000;
}

#app-tabs {
	text-align: right;
}

#app-tabs button {
	font-size: 1.4em;
	border: 0px;
	margin-top: 10px;
	padding: 6px 20px 7px 20px;
	border-radius: 8px 8px 0px 0px;
	color: hsl(var(--accent-hue), 50%, 50%);
	background-color: transparent;
}

#app-tabs button:hover {
	background-color: hsla(var(--accent-hue), 100%, 100%, 0.1);
}

#app-tabs button.selected {
	color: hsl(var(--accent-hue), 100%, 20%);
	padding-bottom: 8px;
	background-color: hsl(var(--accent-hue), 30%, 95%);
	box-shadow: none;
}

#app-actions {
	text-align: right;
	vertical-align: middle;
}

#app-actions button {
	margin-top: 10px;
	background-color: transparent;
	border-color: transparent;
	font-family: monospace;
	color: hsl(var(--accent-hue), 100%, 50%);
	line-height: 20px;
}

#app-actions button img {
	height: 20px;
	width: 20px;
}

.scroll-content {
	overflow-y: scroll;
	height: calc(100vh - 80px);
	padding: 0px 20px 20px 20px;
}

#load-file-drop-area {
	width: 100vw;
	height: calc(100vh - 60px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
}

#load-file-drop-area img {
	width: 100px;
	height: 100px;
	filter: saturate(0.2) brightness(1.15);
}

#load-file-drop-area div {
	width: 340px;
	text-align: center;
}

/*
	Tables and tabs
*/
.table-layout {
	display: grid;
	grid-template-columns: min-content 1fr;
}

.table-layout-tabs {
	padding: 20px 20px 0px 18px;
	display: grid;
	grid-template-rows: repeat(auto, min-content);
	row-gap: 10px;
	height: min-content;
}

.table-layout-tab-row {
	display: grid;
	grid-template-columns: max-content 24px;
	width: 100%;
}

.table-layout-tab-row img {
	grid-column: 2;
	height: 14px;
	width: 14px;
	margin-top: 10px;
	filter: saturate(0.1) brightness(1.15);
}

.table-layout-tabs img:hover {
	cursor: pointer;
	filter: saturate(0.5) brightness(0.8);
}

.table-layout-table {
	margin-top: 10px;
}

.table-tab {
	grid-column: 1;
	width: min-content;
	font-size: 1.2em;
	padding: 5px 12px 4px 10px;
	display: block;
	border: 0px;
	color: hsl(var(--accent-hue), 100%, 20%);
	border: 1px solid transparent;
	background-color: transparent;
}

.table-tab:hover {
	color: hsl(var(--accent-hue), 100%, 30%);
	background-color: hsl(var(--accent-hue), 100%, 90%);
	border-color: hsl(var(--accent-hue), 100%, 50%);
}

.table-tab-selected,
.table-tab-selected:hover {
	color: hsl(var(--accent-hue), 100%, 80%);
	background-color: hsl(var(--accent-hue), 30%, 25%);
	border-color: hsl(var(--accent-hue), 30%, 25%);
	cursor: default;
}

/*
	Dialog
*/
dialog {
	height: min-content;
	max-width: 50vw;
	border: 1px solid hsl(var(--accent-hue), 80%, 40%);
	border-radius: 4px;
	margin: 100px auto;
	box-shadow: 0px 2px 10px hsl(var(--accent-hue), 30%, 60%);
}

dialog::backdrop {
	background-color: hsla(var(--accent-hue), 10%, 40%, 0.5);
	backdrop-filter: blur(2px);
}

dialog h3 {
	margin: -15px 20px 15px 20px;
}

.info-dialog-table {
	margin: 20px 40px 20px 20px;
	max-width: 50vw;
	display: grid;
	grid-template-columns: min-content 1fr;
	row-gap: 10px;
	column-gap: 10px;
	margin-top: 10px;
}

.info-dialog-table label {
	opacity: 0.5;
	font-size: 0.8em;
}

.info-dialog-table div {
	display: inline-block;
}

.info-dialog-actions {
	width: 100%;
	margin-bottom: 0px;
	padding: 5px 0px 5px 5px;
	text-align: right;
}

.info-dialog-actions button {
	color: hsl(var(--accent-hue), 80%, 40%);
	font-style: bold;
	background-color: transparent;
	border-radius: 50%;
	border-color: transparent;
	font-size: 12px;
	line-height: 12px;
	width: 24px;
	height: 24px;
}

.info-dialog-actions button:hover {
	cursor: pointer;
	color: white;
	background-color: hsl(var(--accent-hue), 80%, 40%);
}

/*
	XML Wrappers
*/

.xml-table {
	padding: 5px 4px 10px 0px;
	margin: 20px 10px 40px 0px;
	max-width: 90vw;
}

.xml-table h2 {
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 10px 0px;
	border-bottom: 1px solid hsl(var(--accent-hue), 30%, 60%);
	color: hsl(var(--accent-hue), 30%, 40%);
	font-weight: normal;
}

.xml-node {
	border-left: 1px solid hsl(var(--accent-hue), 30%, 80%);
	padding: 0px 10px 0px 20px;
	margin: 15px 0px 10px 2px;
}

.xml-node h3 {
	margin: 0px 10px 8px 0px;
	display: inline-block;
	font-weight: normal;
}

.xml-node h3.collapsible,
.xml-node .not-collapsible {
	position: relative;
	left: -42px;
	margin-right: -30px;
}

.xml-node .collapse-control {
	display: inline-block;
	height: 34px;
	width: 34px;
	position: relative;
	left: -36px;
}

.xml-node button.collapse-control {
	border-width: 10px;
	border-color: hsl(var(--accent-hue), 30%, 95%);
	padding: 0;
	border-radius: 14px;
	background-color: hsl(var(--accent-hue), 30%, 90%);
	color: hsl(var(--accent-hue), 30%, 60%);
}
.xml-node button.collapse-control svg {
	fill: hsl(var(--accent-hue), 30%, 60%);
}

.xml-node button.collapse-control:hover {
	background-color: hsl(var(--accent-hue), 60%, 70%);
	color: hsl(var(--accent-hue), 90%, 30%);
}
.xml-node button.collapse-control:hover svg {
	fill: hsl(var(--accent-hue), 90%, 30%);
}

.xml-attribute {
	border: 1px solid hsl(var(--accent-hue), 50%, 90%);
	background-color: hsl(var(--accent-hue), 50%, 94%);
	color: hsl(var(--accent-hue), 30%, 10%);
	display: inline-block;
	font-size: 1.2em;
	border-radius: 2px;
	margin: 0px 4px 4px 0px;
	padding: 4px 8px;
}

.xml-attribute-piece {
	font-family: monospace;
}

.xml-attribute-separator {
	opacity: 0.4;
	margin: 0px 5px;
}

.xml-value {
	font-size: 1.2em;
	font-weight: bold;
	font-family: monospace;
	background-color: white;
	border: 1px solid lightblue;
	border-radius: 2px;
	min-width: 300px;
	width: fit-content;
	height: max-content;
	max-height: 600px;
	overflow-y: auto;
	margin: 0px 4px 4px -10px;
	padding: 10px 14px 10px 10px;
}

.xml-comment {
	font-family: monospace;
	color: hsl(var(--accent-hue), 100%, 20%);
	font-size: 1.2em;
}

.xml-cdata {
	font-family: monospace;
	color: hsl(var(--accent-hue), 100%, 20%);
	font-size: 1.2em;
	border-left: 0;
	padding-left: 0;
	margin: 5px 0px 5px 0px;
}

.xml-cdata+.xml-value {
	margin: 5px 0px 5px 0px;
}

/*
	CodeMirror
*/
.cm-editor {
	font-size: 1.1em;
}
